* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.7;
}

/* General Settings */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --bg: #171717;
    --bg-link: #fff;
    --overlay-bg: #171717;
    --overlay-link: whitesmoke;
}

h2,h3,h4 {
    margin-bottom: 15px;
}

body {
    background-color: var(--bg);
}

/* Header Settings */
.header-container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--bg);
}

.logo {
    color: var(--bg-link);
    font-size: 25px;
    font-weight: bolder;
}

/* Overlay Header */
.header-container-2 {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-nav {
    color: var(--overlay-link);
    font-size: 25px;
    font-weight: bold;
}

.close-1 {
    font-size: 25px;
    border: none;
    transition: .3s ease-in-out;
    color: var(--overlay-link);
}

.close-1:hover {
    color: lightgray;
    cursor: pointer;
}

/* Default Toggle Style */
.menu-toggle {
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-toggle span:nth-child(1) {
    width: 70%;
    height: 2px;
    background-color: var(--bg-link);
    transition: 0.5s;
}
.menu-toggle span:nth-child(2) {
    width: 100%;
    height: 2px;
    background-color: var(--bg-link);
}

.menu-toggle:hover span {
    width: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

/*** Overlay Menu Styles ***/
.menu {
    position: fixed;
        left: 0;
        top: -100vh; /* Hides menu ontop*/
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bg);
    transition: 0.2s;
    z-index: 5;
}

/*** Reveal Overlay ***/
.menu.active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.2s;
}

.menu ul {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 320px;
}

.nav-link {
    position: relative; /* To use hover effect */
        left: 0;
    color: var(--overlay-link-c);
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.5s;
    opacity: 0;
    color: var(--overlay-link);
}

.nav-link.active {
    opacity: 1;
    transition: 0.5s;
}

.nav-link.active:hover {
    color: seashell;
    left: 10%;
    transition: 0.5s;
}

/* Footer Style */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.footer-h3, .footer-s {color:  var(--bg-link)}

/***** ABOUT PAGE STYLING ******/
.about-container {
    color: var(--bg-link);
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.about-container-a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
    border: 2px solid whitesmoke;
    padding: 0.9em;
}

/******************** Image Gallery Grid Styling */
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 360px 320px 280px 240px;
    gap: 0.6em;
    margin: 10px auto 80px;
}

/* Gallery Container */
.gallery-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

/* Gallery Images */
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
    cursor: zoom-in;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(7px);
}

.gallery-img.active {
    opacity: 1;
    transform: translateY(0px);
}

/* Lightbox Modal Overlay */
.lightbox-modal {
    background: rgba(0, 0, 0, 0.9);
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    transition: 500ms;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

/* Add and remove css class directly from previous css defined class */
.lightbox-modal.active {
    pointer-events: all;
    transform: scale(1);
    z-index: 2;
    opacity: 1;
}

.lightbox-img {
    width: 60%;
    height: 400px;
    object-fit: cover;
    transition: all 500ms;
}

button:focus {
    outline: none;
}

.btn {
    background-color: #fff;
    color: #333;
    width: 40px;
    height: 40px;
    transition: 0.3s ease-in;
    border: none;
    position: absolute;
    opacity: 1;
}

.btn.inactive {
    opacity: 0;
    pointer-events: none;
}

.close {
    top: 10%;
    right: 10%;
}

#left {
    top: 50%;
    left: 10%;
}

#right {
    top: 50%;
    right: 10%;
}

.close:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

/* Media query */
@media screen and (max-width: 60em) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, 150px)
    }

    #two {
        grid-area: 1 / 2 / 3 / 3;
    }

    #three {
        grid-area: 2 / 1 / 4 / 2;
    }

    #four {
        grid-area: 4 / 1 / 6 / 2;
    }

    #five {
        grid-area: 5 / 2 / 7 / 3;
    }

    .lightbox-img {
        width: 330px;
        height: 300px;
    }
}
