* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.8;
}

/* General Settings */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --bg: #171717;
    --bg-link: #fff;
    --overlay-bg: whitesmoke;
    --overlay-link: #333;
}

h2,h3,h4 {
    margin-bottom: 15px;
}

body {
    background-color: var(--bg);
}

/* Header Settings */
.header-container {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg);
}

.logo {
    color: var(--bg-link);
    font-size: 25px;
    font-weight: bolder;
}

/* Overlay Header */
.header-container-2 {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-nav {
    color: var(--overlay-link);
    font-size: 25px;
    font-weight: bold;
}

.close-1 {
    font-size: 30px;
    transition: .3s ease-in-out;
    color: var(--overlay-link);
}

.close-1:hover {
    color: lightgray;
    cursor: pointer;
}

/* Default Toggle Style */
.menu-toggle {
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-toggle span:nth-child(1) {
    width: 70%;
    height: 2px;
    background-color: var(--bg-link);
    transition: 0.5s;
}
.menu-toggle span:nth-child(2) {
    width: 100%;
    height: 2px;
    background-color: var(--bg-link);
}

.menu-toggle:hover span {
    width: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

/*** Overlay Menu Styles ***/
.menu {
    position: fixed;
        left: 0;
        top: -100vh; /* Hides menu ontop*/
    width: 100%;
    height: 100vh;
    background-color: var(--overlay-bg);
    transition: 0.4s;
    z-index: 5;
}

/*** Reveal Overlay ***/
.menu.active {
    top: 0;
    transition: 0.2s;
}

.menu ul {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 340px;
}

.nav-link {
    position: relative; /* To use hover effect */
        left: 0;
    color: var(--overlay-link-c);
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.5s;
    opacity: 0;
    color: var(--overlay-link);
}

.nav-link.active {
    opacity: 1;
    transition: 0.5s;
}

.nav-link.active:hover {
    color: black;
    left: 10%;
    transition: 0.5s;
}

/* Footer Style */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.footer-h3, .footer-s {color:  var(--bg-link)}

/***** ABOUT PAGE STYLING ******/
.about-container {
    color: var(--overlay-bg);
    display: grid;
    height: 530px;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.about-container-a {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    padding: 3em;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    background-color:var(--bg);
}

.container-overlay {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color:var(--bg);
    width: 100%;
    height: 100%;
    transform: translateY(530px);
    padding: 4em;
    animation: curtainY 1.6s ease-in-out;
    z-index: 4;
}

.image-c {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    animation: opaque 1.6s ease-in-out;
}

/* Animations */
@keyframes curtainY {
    0% {
        transform: translateY(0px);
    }
}

@keyframes opaque {
    0% {
        opacity: 0;
    }
}

@media only screen and (max-width: 800px) {
    .about-container {
        grid-template-columns: 1fr;
        height: auto;
    }
    .about-container-a {
        padding: 2em;
    }
}