* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: sans-serif;
}

/* General Settings */
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Mobile Full Screen Navigation Modal */ 
.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: royalblue;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all .3s ease-in-out;
    border: 10px solid black;
    animation: colorChange 5s infinite;
}

.contact {
    color: whitesmoke;
    text-align: right;
}

.c-f {
    text-align: left;
}

.menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    background-color: royalblue;
}

/* Place Navigation Items Center */
.nav ul {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu > li {
    margin: 1em 0;
}

.menu-a {
    color:#fff;
    font-size: 1.35em;
    transition: .3s ease-in;
    padding: .6em;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

/* Header Settings */ 
header {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 300px;
    width: 300px;
    padding: .8rem;
    background: #f7f7f7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: .3em;
    row-gap: .3em;
}

/* Second Header Settings */
.two {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pro {
    background:royalblue;
    padding: .8em;
    color: #fff;
    transition: .3s ease-in;
}

.pro:hover {
    cursor: pointer;
    background-color: #2d4ba7;
}

.header-h2 {
    position: relative;
    top:20px;
    font-size: 1.6rem;
    text-align: center;
    background: royalblue;
    color: whitesmoke;
    transition: .3s ease-in-out;
}

/* Settings for Index Page Cubes */
.reveal {
    color: royalblue;
}

.change:hover {
    color: #333;
}

.reveal:active {
    color: #333;
}

.header-h2:hover {
    background: whitesmoke;
    cursor: pointer;
}

.name {
    grid-column-start: 1;
    grid-column-end: 3;
}

.name:hover {
    color: #333;
}

.header-p {
    font-size: 1.2rem;
    color: #333;
}