* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui;
    line-height: 1.7;
}

::-webkit-scrollbar {
	display: none;
}

/**** GENERAL SETTINGS ***********/
:root {
	--main-bg-color: #171717;
    --main-text-color: whitesmoke;
    --overlay-bg: #171717;
    --overlay-text: whitesmoke;
    --sticky-nts-bg: beige; 
    --sticky-nts-txt: #333;
}

html,
body {
	width: 100%;
	background-color: var(--main-bg-color);
	overscroll-behavior: none;
}

section {
	position: relative;
	height:50vh;
}

h1 {
    color: var(--sticky-nts-txt);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* MENU TOGGLE BUTTON ************/
.nav {
    color: var(--main-text-color);
    font-size: 1.3rem;
}


.menu-tog {
	position: fixed;
	    top: 6%;
	    right: 4%;
	width: 25px;
	height: 6px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	justify-content: space-between;
	z-index: 3;
	mix-blend-mode: difference;
}

.menu-tog span {
	position: relative;
	    width: 100%;
	    height: 2px;
	background-color: var(--main-text-color);
	transition: 0.5s;
	transform-origin: center;
}

.menu-tog.active span:nth-child(1) {
	position: absolute;
	transform: rotate(45deg);
}

.menu-tog.active span:nth-child(2) {
	position: absolute;
	transform: rotate(-45deg);
}

/** INDEX: FIXED HEADER **********/
.header {
	position: fixed;
	    top: 4%;
	    left: 4%;
	width: 96%;
	z-index: 2;
	mix-blend-mode: difference;
	text-transform: uppercase;
}

h1 {
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 0px;
}

.info-text {
	font-size: 15px;
	line-height: 20px;
}

/* WRAP to animate */
.wrap {
	position: relative;
	display: block;
	line-height: auto;
	overflow: hidden;
	transition: 0.5s;
	will-change: transform;
}

.wrap h1,
.wrap .img .nav {
	transform: translateY(100%);
	transition: 0.5s;
	will-change: transform;
}

/* Javascript active animated classList */
.wrap.active h1,
.wrap.active .img .nav {
	transform: translateY(0);
}

/*** FIXED OVERLAY MENU STYLES *************/
.menu {
	position: fixed;
	    top: 0;
        bottom: 0;
        height: 100%;
	width: 100%;
	background-color: var(--overlay-bg);
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu.active {
	pointer-events: all;
	opacity: 1;
}

.links {
    margin: 5em;
	height: 230px;
}

.links ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-wrap {
	position: relative;
	overflow: hidden;
}

.menu-wrap a {
	display: block;
	font-size: 40px;
	transform: translateY(100%);
	transition: 0.5s;
    color: var(--overlay-text);
}

.menu-wrap.active a {
	transform: translateY(0);
}

.menu-wrap span {
	font-size: 12px;
}

/* FIXED Main Styles */
main {
	position: fixed;
	    top: 0;
	    left: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
}

/* Absolute Scrollable Div */
.scrollable {
	position: absolute;
	    top: 0;
	    left: 0;
    width: 100%;
	will-change: transform;
    background-color: var(--main-bg-color);
}

.content {
	position: relative;
	width: 100%;
}

/* DEFINED GRID */

.img-1 {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 40%;
    height: 60%;
  }
  
  .proj-info-1 {
    position: absolute;
    left: 44%;
    bottom: 5%;
    text-align: left;
    background-color: var(--sticky-nts-bg);
    color: var(--sticky-nts-txt);
    padding: 0.6em;
  }
  
  .img-2 {
    position: absolute;
    top: 20%;
    right: 2%;
    width: 30%;
    height: 50%;
  }
  
  .proj-info-2 {
    position: absolute;
    right: 34%;
    bottom: 10%;
    text-align: right;
    background-color: var(--sticky-nts-bg);
    color: var(--sticky-nts-txt);
    padding: 0.6em;
  }
  
  .img-3 {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 30%;
    height: 60%;
  }
  
  .proj-info-3 {
    position: absolute;
    right: 24%;
    bottom: 10%;
    text-align: right;
    background-color: var(--sticky-nts-bg);
    color: var(--sticky-nts-txt);
    padding: 0.6em;
  }
  
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(20%) sepia(20%);
  }
  

/********** About Page ************/
.first,
.second,
.third {
	position: relative;
	height: 100vh;
}

/** About FIRST SECTION ***/
.first {
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro {
	font-size: 5rem;
    color: var(--main-text-color);
    mix-blend-mode: difference;
}

.third {
	background-color: var(--sticky-nts-bg);
}

/* About Second Section */
.intro {
	font-size: 7rem;
    letter-spacing: 0.1em;
    color: var(--main-text-color);
}

.card {
    position: relative;
    overflow: hidden;
    width: 85%;
}

/* General Picture */
.pic {
	width: 100%;
	height: 100%;
    object-fit: cover;
    filter: grayscale(0.8);
}

.overlay {
    position: absolute;
        top: 0;
        left: 0;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    opacity: 1;
    transform: translateY(0%);
    transition: 1.9s cubic-bezier(1, 0, 0.1, 1);
}

/* Intersection Oberserver */
.overlay.on {
   transform: translateY(-100%);
}

.ob {
    opacity: 0;
    transition: 0.7s ease-in;
}

.ob.on {
    opacity: 1;
}

/***** THIRD SECTION ****/
.third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--main-bg-color);
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-holder {
    text-align: right;
}

.more {
    font-size: 2rem;
}

 .card3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lor {
    font-size: 1.1rem;
}

/****** SLIDER SECTION **********/
.slider {
    display: grid;
    padding:2rem;
    grid-template-columns: 1fr 1fr;
}

.mission-d {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text-color);
}

.card4 {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    overflow: hidden;
}


/******* PAGE TRANSITIONS *****/
.cover {
    position: fixed;
    display: block;
        top: 0;
        left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    z-index: 2;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.transition.slide .cover1 {
    background-color: var(--sticky-nts-bg);
    animation: slide 0.3s ease-in-out forwards;
    color: var(--main-bg-color);
}

.transition.slide .cover2 {
    background-color:var(--main-bg-color);
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
}

@keyframes slide {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
    }
}

/* MEDIA QUERIES */
@media all and (max-width: 50em) {
    .intro {
        font-size: 5rem;
    }

    .second {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 60vh;
    }
    
    .card {
        min-width: 100%;
        height: 100%;
    }

    .third {
        grid-template-columns: 1fr;
    }

    .card3 {
        margin: 2rem;
    }

    .title-holder {
        width: 88%;
    }

    .more {
        font-size: 1.66em;
    }
}